@import 'primeicons/primeicons.css';
@import './flags.scss';
@import './tailwind.css';

html,
body,
#app {
  height: 100vh;
  width: 100vw;
}

.a-full {
  @extend .h-full, .w-full !optional;
}

.p-button {
  justify-content: center;

  &-label {
    flex: none;
  }
}
